<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <appSettings>
    <!-- This is mandatory parameter, Set it to the end point URI of AT&T Service.
    -->
    <add key="endPoint" value="https://api.att.com/"></add>
    <!-- This is mandatory parameter,Set the value as per your registered application 'API key' field value.
    -->
    <add key="api_key" value="f278697c3919ca4bf824804edd908ead"/>


    <!-- This is mandatory parameter,Set the value as per your registered application 'Secret key' field value.
    -->
    <add key="secret_key" value="087981e6d4999c97"/>

  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
